{% extends "base.html"%}
{% block content %}
<!-- JS Tree -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.11/themes/default/style.min.css"
    integrity="sha512-P8BwDSUInKMA7I116Z1RFg/Dfk85uFdliEUYO7vQlwtxLVMNvZimfMAQsaf++9EhlAGOVX6yhDQAIY3/70jDUg=="
    crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.11/jstree.min.js"
    integrity="sha512-bU6dl4fd2XN3Do3aWypPP2DcKywDyR3YlyszV+rOw9OpglrGyBs6TyTsbglf9umgE+sy+dKm1UHhi07Lv+Vtfg=="
    crossorigin="anonymous"></script>

<!-- Tagify -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tagify/3.23.1/tagify.css"
    integrity="sha512-1CG2eaZ3B/p7OqthY2eBpVCD2A+0b2T7aEXfMnr4FqZFoKddxURdxcD8EcKI66qthtkGAWA/Hnwy7ceNHcHJKw=="
    crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/tagify/3.23.1/tagify.min.js"
    integrity="sha512-jb/SYEPmc1tGaJ3Yu6CZaOBhn8sqTpgTqVcXUm4udHGaUsBIOj6DsIc6aXZpsvXhtexnmIowmOVBHKuIwyB2Rw=="
    crossorigin="anonymous"></script>

<div class="row">
    <div class="col-xl">
        <h1>Arbre Ontologie</h1>

        <input type="text" id="plugins4_q" value="" type="search" id="form1" class="form-control"
            placeholder="Rechercher">
        <div id="jstree" class="demo" style="overflow:scroll; max-height: 600px;"></div>

        <button type="button" class="btn btn-success" onclick="save_tree()">Sauvegarder Arbre</button>
    </div>
    <div class="col-xl">
        <h1>Info Terme</h1>
        <form method="post">
            <div class="form-group">
                {% for error in form.errors %}
                <span style="color: red;">{{ error }}: {{form.errors[error]}}</span>
                {% endfor %}
                {{ form.hidden_tag() }}
                {{ form.onto_id_ext }}
                {{ form.onto_name }}
                {{ form.parent_id }}
                {{ form.synonymes }}
                {{ form.gene }}
                {{ form.description }}
                <button type="button" class="btn btn-success" onclick="update_node_data()">Update</button>
            </div>
        </form>
    </div>
</div>
<meta id="data-url" data-jstree="{{url_for('ontocreate.onto_json', filename='ontology.json')}}" data-savetree="{{url_for('ontocreate.modify_onto')}}">
<script src="{{ url_for('ontocreate.static', filename='ontocreate.js') }}"></script>
{% endblock %}