{% extends "base.html" %}

{% block content %}
<div class="col-xl-6 offset-xl-3">
    <h1 id="welcome-to-the-myo-xia-application" style="text-align: center;">Welcome to the MYO-xIA application</h1>
    <h3 id="context-">Context:</h3>
    <p>This application was developed within the <strong>80-Prime MYO-xIA project</strong>. The MYO-xIA project aims to
        collect data from patients with <strong>congenital myopathies</strong> in order to analyse them using
        <strong>explainable AI approaches</strong>. In the field of congenital myopathies research, there is an
        important need for <strong>digitization and standardization of patient data</strong> in order to use modern data
        analysis methods.<br>This application has three main objectives:</p>
    <ul>
        <li><strong>Gather and format patient data</strong> to be ready for automatic exploitation (patient
            histology-report form, image annotation, OCR)</li>
        <li>Help the <strong>discovery of new phenotype-genotype-histology association</strong> for each congenital
            myopathy subtype (ontology creation tool, per gene and class histologic feature statistics)</li>
        <li>Provide tools for <strong>automatic diagnosis</strong> based on histologic features (live prediction of
            congenital myopathy subtype in the histology-report form)</li>
    </ul>
    <h3 id="functionalities-">Functionalities:</h3>
    <ul>
        <li>
            <p><strong>Annotation of histologic images</strong>: allows recording and annotation of histologic images of
                tissues from patients with congenital myopathy. It is possible to delimit areas on the images and to
                associate them with labels. It is also possible to produce a histologic report with a list of
                absence/presence of histopathologic features and to associate a diagnosis with it.</p>
        </li>
        <li>
            <p><strong>Optical character recognition (OCR-PDF)</strong>: Automatically detect text from images and
                convert PDF to text files. This makes it easier to scan and retrieve data from histologic reports
                correspondence between patient, doctor and biologists. <strong>Work-In Progress</strong>: integration of
                the OCR and histology-report form to pre-fill the form based on detected terms and ontology matching.
            </p>
        </li>
        <li>
            <p><strong>Ontology viewer and modification tool</strong>: An ontology for histologic report has been
                created based on Institut de Myologie de Paris reports. This ontology can be explored and modify to help
                format free-text histologic report in a structured format.</p>
        </li>
        <li>
            <p><strong>Histolgic-Report form</strong>: a form to digitalize histologic reports based on the histologic
                feature ontology.</p>
        </li>
        <li>
            <p><strong>Histoligic Statistics</strong>: a page to view most common histologic features in congenital
                myopathies per gene and per disease subtype.</p>
        </li>
    </ul>
    <h3 id="how-to-use-">How to Use:</h3>
    <p>Statistics and ontology are viewable without an account. In order to perform OCR, Image annotation or use the
        histo-report form, you will need an account. Please contact the email in the footer to request an account.</p>
    </br>
</div>
{% endblock %}