{% extends "base.html"%}
{% block content %}

<h1>Histology Report</h1>
<p>The report has been saved in the database.</p>

<h1>Image Annotation</h1>
<p>The annotations have been saved in the database.</p>

<a href="{{ url_for('imgannot.upload_file') }}" class="btn btn-info" role="button">Return to index</a>

{% endblock %}