{% extends "base.html"%}
{% block content %}

<!-- JS Tree -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.11/themes/default/style.min.css"
    integrity="sha512-P8BwDSUInKMA7I116Z1RFg/Dfk85uFdliEUYO7vQlwtxLVMNvZimfMAQsaf++9EhlAGOVX6yhDQAIY3/70jDUg=="
    crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.11/jstree.min.js"
    integrity="sha512-bU6dl4fd2XN3Do3aWypPP2DcKywDyR3YlyszV+rOw9OpglrGyBs6TyTsbglf9umgE+sy+dKm1UHhi07Lv+Vtfg=="
    crossorigin="anonymous"></script>

<!-- Tagify -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tagify/3.23.1/tagify.css"
    integrity="sha512-1CG2eaZ3B/p7OqthY2eBpVCD2A+0b2T7aEXfMnr4FqZFoKddxURdxcD8EcKI66qthtkGAWA/Hnwy7ceNHcHJKw=="
    crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/tagify/3.23.1/tagify.min.js"
    integrity="sha512-jb/SYEPmc1tGaJ3Yu6CZaOBhn8sqTpgTqVcXUm4udHGaUsBIOj6DsIc6aXZpsvXhtexnmIowmOVBHKuIwyB2Rw=="
    crossorigin="anonymous"></script>

<!-- Custom files -->
<link rel="stylesheet" type="text/css" href="{{url_for('historeport.static', filename='slider.css')}}">

<div class="row">
    <div class="col-xl-8 offset-md-2">
        <h1>Info Patient</h1>
        <form method="post" id="histo_report">
            <div class="form-group">
                {% for error in form.errors %}
                <span style="color: red;">{{ error }}: {{form.errors[error]}}</span>
                {% endfor %}
                {{ form.hidden_tag() }}
                <div class="row">
                    <div class="col-xl">
                        {{ form.patient_id.label }}
                        {{ form.patient_id }}
                    </div>
                    <div class="col-xl">
                        {{ form.biopsie_id.label }}
                        {{ form.biopsie_id }}</div>
                    <div class="col-xl">
                        {{ form.date_envoie.label }}
                        {{ form.date_envoie }}</div>
                    <div class="col-xl">
                        {{ form.muscle_prelev.label }}
                        {{ form.muscle_prelev }}</div>
                </div>
                <div class="row">
                    <div class="col-xl">

                        {{ form.age_biopsie.label() }}
                        {{ form.age_biopsie }}</div>
                    <div class="col-xl">
                        {{ form.gene_diag.label() }}
                        {{ form.gene_diag }}</div>
                    {{ form.ontology_tree }}
                </div>
            </div>
    </div>
    <div class="row">
        <div class="col-xl-5 mt-3 offset-md-1">
            <h2>Arbre Ontologie</h2>

            <input type="text" id="plugins4_q" value="" type="search" id="form1" class="form-control"
                placeholder="Rechercher">
            <div id="jstree" class="demo" style="overflow:scroll; max-height: 600px;"></div>
        </div>
        <div class="col-xl-5 mt-3">
            <h2>Feature</h2>

            {% for error in form2.errors %}
            <span style="color: red;">{{ error }}: {{form2.errors[error]}}</span>
            {% endfor %}
            {{ form2.hidden_tag() }}
            <div class="col-xl-12">
                <div class="row">
                    <div class="col-xl-6 range">
                        {{ form2.preabsProba.label(class="d-flex justify-content-center") }}
                        {{ form2.preabsProba }}
                        <div class="d-flex justify-content-center" id="sliderspan">
                        </div>
                    </div>
                </div>

            </div>
            </br>
            <h4>Info. sur la feature</h4>
            {{ form2.onto_name }}
            <div class="row">
                <div class="col-xl">
                    {{ form2.synonymes.label }}
                    {{ form2.synonymes }}</div>
                <div class="col-xl">
                    {{ form2.gene.label }}
                    {{ form2.gene }}</div>
            </div>
            {{ form2.description.label }}
            {{ form2.description }}


        </div>
    </div>
    <div class="row">
        <div class="col-xl-8 offset-md-2 mt-3">
            <h4>Commentaires & Conclusions</h4>
            {{form.comment}}
            <b>Diagnosis Prediction:</b> <button id="predictbutton" type="button" class="btn btn-info btn-sm">Predict !</button></br>
            SVM (IA): <div class="predict_diag badge bg-primary"></div>
            <div class="predict_proba badge bg-primary"></div></br>
            BOQA (Stats): <div class="predict_diag_boqa badge bg-primary"></div>
            <div class="predict_proba_boqa badge bg-primary"></div></br>
            {{form.conclusion.label}}
            {{form.conclusion}}
            {{form.submit}}
            </form>
        </div>
    </div>
    <meta id="data-url" data-predict="{{url_for('historeport.predict_diag') }}" data-boqa="{{url_for('historeport.predict_diag_boqa') }}">
    <script src="{{ url_for('historeport.static', filename='historeport.js') }}"></script>
    
    {% endblock %}