{% extends "base.html" %}

{% block content %}
<h1>Error 404: Page not found</h1>
<p>This page has not been found. Please press the back button to go to the index: <a
        href="{{ url_for('index.index') }}">Back</a></p>
{% endblock %}