{% extends "base.html" %}

{% block content %}
<h1>Error 500: An unexpected error has occurred</h1>
<p>The administrator has been notified. Sorry for the inconvenience!</p>
<p>Please press the back button to go to the index: <a href="{{ url_for('index.index') }}">Back</a></p>
{% endblock %}