<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>MYO-xIA Webapp</title>
  <meta name="description" content="MYO-xIA Webapp">
  <meta name="author" content="Corentin Meyer">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- BootStrap -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script>

  <!-- Jquery files -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

  <!-- Custom files -->
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='custom.css')}}">

  <!-- Font -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">

<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('imgannot.upload_file') }}">Image-Annot</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{{ url_for('ocr.upload_pdf') }}">OCR-PDF</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{{ url_for('ontocreate.ontocreate') }}">Ontology</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{{ url_for('historeport.histoindex') }}">Histo-Report</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{{ url_for('histostats.statsindex') }}">Stats</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="dashboard/">Dash</a>
          </li>
        </ul>
      </div>

      <div class="mx-auto order-0">
        <li class="nav-item ">
          <a class="nav-link navbar-brand mx-auto" href="{{ url_for('index.index') }}">MYO-xIA</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </li>

        </button>
      </div>
      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2 justify-content-end">
        <ul class=" navbar-nav ms-auto">
          {% if current_user.is_anonymous %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="#">Logged in as: {{ current_user.username }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>

  <main role="main" class="container-fluid pt-3 pb-3 px-5 mb-3">

    {% with messages=get_flashed_messages(with_categories=true) %}
    <!-- Categories: success (green), info (blue),
      warning (yellow), danger (red) -->
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-dismissible fade show alert-{{ category }}" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    {% endfor %}
    {% endif %}
    {% endwith %}



    {% block content %}
    {% endblock %}
  </main>

  <footer class="footer d-none d-xl-block">
    <div class="container">
      <p>Created by: Corentin Meyer at CSTB Team @ ICube, CNRS, Unistra. <a
          href="https://gitlab.com/Corentin_7/myoxia">Code availiable here</a>
        Contact: <span class="obfuscate">rf.artsinu.ute@reyem.nitneroc</span></p>
    </div>
  </footer>

</body>

</html>