{% extends "base.html"%}
{% block content %}
<div class="row">
    <div class="col-xl">
        <h1>PDF Viewer</h1>
        <embed src="{{rel_filepath}}" width="100%" height="700px" />
    </div>

    <div class="col-xl">
        <h1>OCR</h1>
        <div class="accordion" id="accordionOCR">
            {% for key,value in section_test_dict.items() %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading{{loop.index}}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse{{loop.index}}" aria-expanded="true"
                        aria-controls="collapse{{loop.index}}">
                        {{key}}
                    </button>
                </h2>
                <div id="collapse{{loop.index}}" class="accordion-collapse collapse"
                    aria-labelledby="heading{{loop.index}}" data-bs-parent="#accordionOCR">
                    <div class="accordion-body">{{value}}</div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>

{% endblock %}